@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

#debugging {
  z-index: 10;
}

#app {
  z-index: 1;
}

#canvas {
  touch-action: none;
  display: block;
}