@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

#debugging {
  z-index: 10;
}

#app {
  z-index: 1;
}

#canvas {
  touch-action: none;
  display: block;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

#fab_button_pause {
  pointer-events: auto !important;
}